/**
 * Common styling for the snaapi main site.
 * http://snaapi.com/*
 */

a {
  color: #447799;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

#page {
  margin: 0 0 -8em;
  height: auto !important;
  min-height: 100%;
  min-width: 700px;
  overflow: hidden;
}

#slimpage {
  margin: 0 auto;
  width: 700px;
}

#actions {
  position: absolute;
  right: 0;
  padding-top: 18px;
  padding-left: 1em;
  padding-right: 1em;
}

#actions li {
  display: inline;
}

#actions li a {
  padding: 5px;
  margin: 3px;
  color: #FFF;
  text-decoration: none;
  color: #447799;
}

#actions li:hover a {
  background-color: #6699aa;
  color: #fff;
}

#content {
  color: #333;
}

#logo {
  text-align: center;
  font-size: 5em;
  padding-top: 0.3em;
}

#logo a {
  color: #333;
}

#logo a:hover {
  color: #333;
  text-decoration: none;
}

#logo .api {
  color: #447799;
}

#spacer {
  height: 8em;
  padding-bottom: 4em;
}

#footer {
  background: #6699aa url(/gfx/footer.png) repeat-x scroll 0 0;
  height: 8em;
}

#footer .wrapper {
  margin: 0 auto;
  width: 480px;
  min-width: 500px;

  /* Safari fix for unclickable links */
  position: relative;
}

#footer .links {
  padding-top: 3em;

  text-align: center;
}

#footer .links ul {
  padding: 5px;
  margin: 3px;
  height: 1em;
}

#footer .links li {
  display: inline;
}

#footer .links li a {
  padding: 5px;
  margin: 3px;
  color: #bbcccc;
}

#footer .copyright {
  text-align: center;
  font-size: 0.8em;
}


/**
 * Forms.
 */
.text,
.small_text,
textarea {
  border: 1px solid #ccc;
  outline-style: none;
}

.text {
  font-size: 16px;
  padding: 5px;
}

.inactive {
  color: #999;
}

.small_text {
  font-size: 1em;
  padding: 2px;
}

.text:focus,
.small_text:focus,
textarea {
  border: 1px solid #999;
}

.button {
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  outline-style: none;
}

.button:focus {
  border: 1px solid #999;
}

.button:active {
  border: 1px solid #999;
  background-color: #BFFFBF;
}

.dropdown {
  border: 0;
  outline-style: none;
}
