/**
 * Dashboard styles.
 */

#logo {
  text-align: left;
  font-size: 2em;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #eee;
  border-left: 0;
  border-top: 0;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
}

#logo:hover {
  background-color: #bbcccc;
}

#twitter {
  position: absolute;
  top: 40px;
  left: 15px;
}

#topbar {
  background-color: #eff;
}

#actions {
  z-index: auto;
  position: relative;
  float: right;
  padding-top: 14px;
  padding-right: 1em;
}

#catch-phrase {
  text-align: center;
  font-size: 2em;
  color: #bbcccc;
}

.hr {
  border-top: 1px solid #999;
}

#filters {
  margin-left: 100px;
  margin-right: 140px;
  margin-bottom: 7px;
}

#filters .list {
  border: 1px solid #eee;
  border-top: 0;
  border-bottom: 0;
}

#filters .list .header {
  padding: 5px;
  font-size: 1.3em;
  text-align: center;
  color: #999;
}

#filters .list table {
  margin: 0 auto;
  width: 80%;
}

#filters .list td {
  vertical-align: top;
  width: 50%;
  padding: 0.5em;
}

#filters .list .col0 {
  border-right: 1px solid #ccc;
}

#filters .list td .cat_header {
  font-size: 1.2em;
  text-align: center;
  color: #999;
}

#filters .list .filter {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 3px;
  margin: 2px;
  float: left;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#filters .list .filter:hover {
  background-color: #6699AA;
  color: #fff;
}

#filters .list .hide {
  background-color: #447799;
  color: #fff;
}

#filters .list .packages {
  width: 500px;
  margin: 0 auto;
}

#filters .list .clearfix {
  clear: both;
}

#filters .list-button {
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  color: #999;
  padding-top: 2px;
  padding-bottom: 5px;
  border: 1px solid #eee;
  border-top: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
}

#filters .list-button:hover {
  background-color: #bbcccc;
  color: #333;
}

#filters .active {
  margin-top: 7px;
  font-size: 1.0em;
  color: #999;
}

#filters .active .row {
  padding: 4px;
  display: inline;
  line-height: 2em;
}

#filters .active .filter {
  display: inline;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  padding: 3px;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#filters .active .filter:hover {
  cursor: pointer;
  background-color: #ccc;
}

#filters .active .filter .xme {
  color: #ddd;
  margin-left: 5px;
}

#filters .active .filter:hover .xme {
  color: #333;
}

#search {
  padding-bottom: 7px;
  margin-left: 100px;
}

#search .text {
  width: 412px;
}

#search label {
  font-size: 16px;
  padding-right: 0.5em;
}

#search .dropdown {
  width: 424px;
  position: absolute;
  display: block;
  font-size: 16px;
  z-index: 1000;
  text-align: left;
}

#search .dropdown .holder {
  width: 422px;
  padding: 5px 0;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #999;
  border-top: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
}

#search .dropdown .empty {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #999;
  border-top: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
}

#search .dropdown .result {
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 2px 5px;
  width: 404px;
  margin: 3px auto;
  background-color: #fff;
  overflow: hidden;
}

#search .dropdown .result:hover {
  border: 1px solid #6699aa;
  cursor: pointer;
}

#search .dropdown .result .remove {
  color: #999;
}

#search .dropdown .result .category {
  font-size: 10px;
  color: #999;
}

#search .dropdown .result .lineage {
  font-size: 10px;
  color: #999;
}

#search .dropdown .result em {
  background-color: #88aaaa;
}

#search .dropdown .selected {
  background-color: #bbcccc;
  border: 1px solid #6699aa;
  cursor: pointer;
}

#search .dropdown .result_info {
  text-align: right;
  padding: 0.2em;
  font-size: 0.8em;
}

#goback {
  border: 1px solid #ccc;
  border-left: 0;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  color: #999;
}

#goback:hover {
  cursor: pointer;
  background-color: #6699aa;
  color: #fff;
}

#messages {
  margin-left: 5px;
}

#tree-view-sizer {
  width: 5px;
  height: 500px;
  float: left;
  background-color: #999;
  cursor: e-resize;
}

#tree-view {
  width: 200px;
  float: left;
  height: 500px;
  overflow: auto;
  background-color: #fff;
}

#tree-view .header {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em;
  color: #999;
}

#tree-view .list .initial_loading {
  padding: 0.3em;
}

#tree-view .list {
  padding-bottom: 0.5em;
}

#tree-view .list .top {
  margin-left: 0.5em;
}

#tree-view .list .node_text {
  margin: 2px 0;
}

#tree-view .list .the_text {
  margin-left: 25px;
  font-size: 0.8em;
}

#tree-view .list .link_text {
  cursor: pointer;
  border: 1px solid #fff;
  margin-right: 10px;
  padding: 0.2em;
}

#tree-view .list .link_text:hover {
  cursor: pointer;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#tree-view .list .loading {
  margin-left: 25px;
  font-size: 0.8em;
}

#tree-view .list .root_text {
  font-size: 1.1em;
  margin-right: 10px;
}

#tree-view .list .root_text .the_text {
  font-weight: bold;
}

#tree-view .list .has_children {
  padding: 0.1em;
}

#tree-view .list .has_children .expander {
  font-size: 0.8em;
  float: left;
  color: #ccc;
  margin: 0 4px;
  position: relative;
  top: -1px;
  border: 1px solid #ccc;
  width: 14px;
  height: 14px;
  cursor: pointer;
  text-align: center;
}

#tree-view .list .has_children:hover .expander {
  color: #333;
  border-color: #999;
}

#tree-view .list .has_children .expander:hover {
  cursor: pointer;
  background-color: #fff;
  color: #6699aa;
}

#tree-view .list .child {
  margin-left: 0.5em;
}

#content-table {
  margin-left: 205px;
  padding: 1em;
}

#result .name {
  font-size: 3em;
}

#result .category {
  margin-left: 1em;
}

#result .category {
  font-size: 0.8em;
  color: #999;
}

#result .lineage {
  font-size: 0.8em;
}

#result .name a:hover {
  text-decoration: none;
}

#result .short-description {
  padding: 0.5em;
  font-style: italic;
  font-size: 1.5em;
  color: #999;
}

#result .signature {
  padding: 0.5em;
  font-size: 1.5em;
}

#result .signature .type,
#result .signature .methodparam {
  color: #6699AA;
}

#result .signature .methodtype,
#result .signature .methodarg {
  color: #333;
  font-style: italic;
}

#result .signature .initializer {
  color: #333;
  font-style: normal;
}

#result .type {
  padding: 0.2em;
  font-size: 1.0em;
  color: #999;
}

#result .row {
  padding: 0.5em;
  font-size: 1em;
  padding-bottom: 0;
}

#result .row .title {
  color: #999;
  float: left;
}

#result .row .value {
  margin-left: 110px;
  padding-bottom: 0.5em;
}

#result .row .value_name {
  font-weight: bold;
  margin-right: 0.5em;
  float: left;
}

#result .row .description {
  display: block;
  margin-left: 100px;
}

#result .row .optional {
  margin-right: 5px;
  font-style: italic;
}

#result .social {
  font-size: 1.3em;
  padding: 0.5em;
}

#result .social .header {
  font-size: 1em;
}

#result .social .row {
  padding: 0.3em 0;
}

#result .social .box {
  height: 50px;
  width: 50px;
  border: 1px solid #ddf;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #447799;
  float: left;
}

#result .social .box {
  color: #fff;
}

#result .social .box .score {
  margin-top: 5px;
  font-size: 1.5em;
  text-align: center;
}

#result .social .box .ratings {
  padding-left: 1px;
}

#result .social .box .rater {
  cursor: pointer;
}

#result .social .box .rater:hover {
  background-color: #58a;
  cursor: pointer;
}

#result .social .box .rater {
  padding: 0 9px;
}

#result .social .data {
  margin-left: 60px;
  min-height: 55px;
}

#result .social .data .link {
  font-size: 1.3em;
}

#result .social .data pre {
  overflow: visible;
}

#result .social .user {
  text-align: right;
  color: #555;
}

#result .socialness {
  border: 1px solid #bcc;
  padding-bottom: 3px;
}

#result .socialness .methods ul {
  height: 2em;
  border: 1px solid #fff;
}

#result .socialness .methods li {
  float: left;
  padding: 0.5em;
  cursor: pointer;
}

#result .socialness .methods li:hover {
  background-color: #ddf;
  cursor: pointer;
}

#result .socialness .form {
  padding: 1em;
}

#result .socialness .row {
  padding-left: 0;
}

#result .socialness label {
  float: left;
}

#result .socialness textarea {
  vertical-align: top;
  padding: 0.5em;
}

#result .socialness .code {
  font-family: monospace;
}

#result .socialness .rightside {
  margin-left: 5em;
}

#result .socialness .button {
  margin: 0.4em 0;
}

#page-table {
  width: 100%;
  height: 100%;
  min-width: 850px;
}

#bottom-pane {
  width: 100%;
  height: 100%;
}

#external-page {
  margin-left: 205px;
  margin-right: -205px;
  height: 100%;
  overflow: hidden;
}

#external-page iframe {
  height: 100%;
  width: 100%;
  border: 0;
  margin-bottom: -1;
}

#eww {
  position: absolute;
  z-index: -1000;
  text-align: center;
  font-size: 5em;
  color: #999;
  padding: 1em;
  opacity: 0.5;
}

#eww .reason {
  font-size: 0.5em;
}

#whyjoin,
#welcome {
  padding: 2em;
}

#whyjoin .imagish,
#whyjoin .imagish:hover {
  text-align: center;
  cursor: pointer;
}

#social_sites {
  padding: 10px;
  text-align: center;
}

#whyjoin .rhetorical,
#welcome .salutation {
  font-size: 2em;
  text-align: center;
}

#whyjoin .answer {
  font-size: 1.3em;
  text-align: center;
}

#whyjoin .more-details,
#welcome .howto {
  padding: 1em;
  font-size: 1.1em;
  width: 500px;
  margin: 0 auto;
}

#whyjoin .more-details table {
  width: 100%;
}

#whyjoin .more-details table td {
  vertical-align: top;
}

#whyjoin .more-details ul {
  margin-left: 2em;
  margin-bottom: 1em;
}

#whyjoin .more-details ul li {
  list-style-type: square;
}

#whyjoin p,
#welcome p {
  margin-bottom: 1em;
}

#auth .login .form {
  padding: 0.2em;
  width: 400px;
  margin: 0 auto;
}

#search_engine {
  display: none;
}
