/**
 * Homepage styles.
 */

#logo {
  text-align: center;
  font-size: 5em;
  padding-top: 0.3em;
}

#logo .api {
  color: #447799;
}

#catch-phrase {
  text-align: center;
  font-size: 2em;
  color: #bbcccc;
}

#search {
  text-align: center;
  padding: 1em 0;
}

#search .text {
  width: 412px;
}

#search label {
  font-size: 16px;
  padding-right: 0.5em;
}

#search .inactive {
  color: #999;
}

#search .filters {
  padding: 0.5em;
  padding-top: 2em;
}

#search .filters .header {
  margin: 0.3em;
  font-size: 1.5em;
  color: #999;
}

#search .filters table {
  margin: 0 auto;
  width: 800px;
}

#search .filters table td {
  vertical-align: top;
  width: 50%;
}

#search .filters .filter {
  text-align: center;
  padding: 0.3em;
}

#search .filters .filter .type {
  font-weight: bold;
}

#search .filters .filter .item span {
  cursor: pointer;
}

#search .dropdown {
  width: 100%;
  position: absolute;
  font-size: 16px;
  min-width: 1000px;
  z-index: 1000;
  text-align: left;
}

#search .dropdown .empty {
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

#search .dropdown .result {
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 2px 5px;
  margin: 3px 360px;
  background-color: #fff;
}

#search .dropdown .result:hover {
  border: 1px solid #6699aa;
  cursor: pointer;
}

#search .dropdown .result .category {
  font-size: 10px;
  color: #999;
}

#search .dropdown .result .lineage {
  font-size: 10px;
  color: #999;
}

#search .dropdown .result em {
  background-color: #88aaaa;
}

#search .dropdown .selected {
  background-color: #bbcccc;
  border: 1px solid #6699aa;
  cursor: pointer;
}

#result {
  margin: 0 auto;
  width: 800px;
}

#result .name {
  font-size: 3em;
}

#result .category {
  margin-left: 1em;
}

#result .category {
  font-size: 0.8em;
  color: #999;
}

#result .lineage {
  font-size: 0.8em;
}

#result .name a:hover {
  text-decoration: none;
}

#result .short-description {
  padding: 1em;
  font-style: italic;
  font-size: 1.5em;
}
