/**
 * Homepage styles.
 */

#small-logo {
  display: inline;
  padding-top: 7px;
  font-size: 16px;
  cursor: pointer;
}

#small-logo .sna {
  color: #333;
}

#small-logo .api {
  color: #447799;
}

#small-logo:hover {
  cursor: pointer;
  text-decoration: none;
}

#catch-phrase {
  text-align: center;
  font-size: 2em;
  color: #bbcccc;
}

#search {
  text-align: center;
  padding: 1em 0;
}

#search .text {
  width: 412px;
}

#search label {
  font-size: 16px;
  padding-right: 0.5em;
}

#search .filters {
  padding: 0.5em;
  padding-top: 2em;
}

#search .filters .header {
  margin: 0.3em;
  font-size: 1.5em;
  color: #999;
}

#search .filters table {
  margin: 0 auto;
  width: 500px;
}

#search .filters table td {
  vertical-align: top;
  width: 50%;
}

#search .filters .filter {
  text-align: center;
  padding: 0.3em;
}

#search .filters .filter .type {
  font-weight: bold;
}

#search .filters .filter .item span {
  cursor: pointer;
}

#search .dropdown {
  width: 100%;
  position: absolute;
  font-size: 16px;
  min-width: 700px;
  z-index: 1000;
  text-align: left;
  background-color: #bbcccc;
}

#search .dropdown .empty {
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

#search .dropdown .result {
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 2px 5px;
  margin: 3px 138px;
  background-color: #fff;
}

#search .dropdown .result:hover {
  border: 1px solid #6699aa;
  cursor: pointer;
}

#search .dropdown .result .category {
  font-size: 10px;
  color: #999;
}

#search .dropdown .result .lineage {
  font-size: 10px;
  color: #999;
}

#search .dropdown .result em {
  background-color: #88aaaa;
}

#search .dropdown .selected {
  background-color: #bbcccc;
  border: 1px solid #6699aa;
  cursor: pointer;
}

#result {
  margin: 0 40px;
}

#result .name {
  font-size: 3em;
}

#result .category {
  margin-left: 1em;
}

#result .category {
  font-size: 0.8em;
  color: #999;
}

#result .lineage {
  font-size: 0.8em;
}

#result .name a:hover {
  text-decoration: none;
}

#result .short-description {
  padding: 0.5em;
  font-style: italic;
  font-size: 1.5em;
  color: #999;
}

#result .signature {
  padding: 0.5em;
  font-size: 1.5em;
}

#result .signature .type,
#result .signature .methodparam {
  color: #6699AA;
}

#result .signature .methodtype,
#result .signature .methodarg {
  color: #333;
  font-style: italic;
}

#result .signature .initializer {
  color: #333;
  font-style: normal;
}

#result .row {
  padding: 0.5em;
  font-size: 1em;
  padding-bottom: 0;
}

#result .row .title {
  color: #999;
  float: left;
}

#result .row .value {
  margin-left: 110px;
  padding-bottom: 0.5em;
}

#result .row .value_name {
  font-weight: bold;
  margin-right: 0.5em;
}

#result .social {
  font-size: 1.5em;
  padding: 0.5em;
}

#result .social .header {
  font-size: 1em;
}

#result .social .row {
  padding: 0.3em 0;
}

#result .social .box {
  height: 50px;
  width: 50px;
  border: 1px solid #ddf;
  -moz-border-radius: 10px;
  -webkit-border-top-right:10px;
  background-color: #447799;
  float: left;
}

#result .social .box {
  color: #fff;
}

#result .social .box .score {
  margin-top: 5px;
  font-size: 1.5em;
  text-align: center;
}

#result .social .box .ratings {
  padding-left: 1px;
}

#result .social .box .rater {
  cursor: pointer;
}

#result .social .box .rater:hover {
  background-color: #58a;
  cursor: pointer;
}

#result .social .box .rater {
  padding: 0 9px;
}

#result .social .data {
  margin-left: 60px;
  min-height: 55px;
}

#result .social .data .link {
  font-size: 1.3em;
}

#result .socialness {
  border: 1px solid #bcc;
  padding-bottom: 3px;
}

#result .socialness .methods ul {
  height: 2em;
  border: 1px solid #fff;
}

#result .socialness .methods li {
  float: left;
  padding: 0.5em;
  cursor: pointer;
}

#result .socialness .methods li:hover {
  background-color: #ddf;
  cursor: pointer;
}

#result .socialness .form {
  padding: 1em;
}

#result .socialness label {
  margin-right: 1em;
}

#external_table {
  width: 100%;
  height: 100%;
}

#external_page {
  border-top: 1px solid #ccc;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#external_page iframe {
  height: 100%;
  width: 100%;
  border: 0;
  margin-bottom: -1;
}

#eww {
  position: absolute;
  width: 100%;
  z-index: -1000;
  text-align: center;
  font-size: 5em;
  color: #999;
}
