/**
 * Login with style.
 */

#auth {
  margin: 0 auto;
  width: 1000px;
}

#auth table {
  width: 100%;
}

#auth table td {
  padding: 1em;
  vertical-align: top;
}

#auth h1 {
  font-size: 2em;
}

#auth .preamble {
  font-size: 1.3em;
}

#auth .login {
  width: 50%;
}

#auth .leftside {
  border-right: 2px dashed #ccc;
}

/**
 * User login.
 */
#auth .login .userloginform th {
  width: 20%;
  text-align: right;
  font-size: 1.3em;
  padding: 0.3em;
  padding-right: 0;
  vertical-align: middle;
}

#auth .login .userloginform .col-field,
#auth .login .userloginform .text {
  width: 150px;
}

#auth .login .userloginform .col-field {
  padding: 0.3em;
  padding-right: 0;
}


#auth .errors {
  background-color: #FFE6E6;
  padding: 1em;
}
