/**
 * OpenID style
 */

#auth .login .form {
  padding: 1em;
}

#auth .login .services {
  border: 1px solid #ccc;
  border-right: 0;
  float: left;
  padding: 5px;
}

#auth .login .services img {
  position: relative;
  top: 2px;
}

#auth .login .services:hover {
  border: 1px solid #999;
  border-right: 0;
}

#auth .login .services .list {
  position: absolute;
  display: none;
  width: 359px;
  border: 1px solid #ccc;
  z-index: 1000;
  background-color: #fff;
}

#auth .login .services:hover .list {
  border: 1px solid #999;
}

#auth .login .services .service {
  border: 1px solid #fff;
  width: 105px;
  margin: 0.2em;
  padding: 0.2em;
  font-size: 1.2em;
  float: left;
}

#auth .login .services .service img {
  padding: 0.2em;
  vertical-align: bottom;
}

#auth .login .services .service:hover {
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
}

#auth .login .services .selected,
#auth .login .services .selected:hover {
  background-color: #E6E6FF;
  color: #000;
}

#openid_url {
  width: 280px;
}

/**
 * Bottom bar in the services panel.
 * Displays text and a text box for a username.
 */
#auth .login .services .bottombar { 
  clear: both;

  border-top: 1px solid #999;
  padding: 0.3em;
  height: 2.4em;

  background-color: #E6E6FF;
  text-align: right;

  display: none;
}