/**
 * CSS specific to the welcome page.
 */

.info_box {
  margin: 10px 0;
}

.info_box .header {
  padding: 0.5em;
  background-color: #88aaaa;
  text-align: center;

  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.info_box .body {
  padding: 0.5em;
  text-align: center;
}

.info_box .trim {
  text-align: left;
  width: 700px;
  margin: 0 auto;
}

.info_box .body .version {
  text-align: center;
  font-size: 1.2em;
}

.info_box .body img {
  border: 1px solid #fff;
  padding: 5px;
}

.info_box .body a:hover img {
  border: 1px solid #8aa;
}

.info_box .body .considerations {
  width: 700px;
  margin: 0 auto;
}

.info_box p {
  font-size: 1.1em;
  padding-bottom: 1em;
}

.the-team {
  border-top: 1px dashed #ccc;
  margin: 1em;
  padding: 1em;

  text-align: center;

  clear: both;
}

.the-team h1 {
  padding: 0.3em;
}
